@import url("https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------*/

body {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 20px;
}

.App {
  .link-color {
    color: #484c7f;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: ease-in-out 0.3s;
  }
  .link-color:hover {
    color: #fdc8b7;
  }
  .StyleContainer {
    margin: 0px auto;
    max-width: 1000px;
    width: 100%;
  }
  .editPostButton {
    background: #ac8daf;
    color: #fdc8b7;
    font-size: 26px;
    font-weight: 500;
    padding: 0px 20px;
    margin: 5px 15px;
    border: none;
    border-radius: 3px;
    box-shadow: -1px 1px 2px 1px rgba(138, 138, 138, 1);
    text-decoration: none;
    text-align: center;
    transition: ease-in-out 0.3s;
  }
  .postButton {
    background: #ac8daf;
    color: #fdc8b7;
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px 15px;
    border: none;
    border-radius: 3px;
    box-shadow: -1px 1px 2px 1px rgba(138, 138, 138, 1);
    text-align: center;
    transition: ease-in-out 0.3s;
  }
  .postButton:hover,
  .editPostButton:hover {
    background: #ac8daf;
    color: white;
  }
  .postFormTitle {
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
    color: #464159;
    text-align: center;
  }
}
